# built documentation
_build/*

# cache and working-directory containers
.releng_cache/
.releng_work/

# gettext generated mo files
locale**/**/*.mo

# python-specific
__pycache__/
*.py[cod]
*$py.class
